@import "../../../../assets/styles/variables";

.button-add {
  background-color: map-get($confirm, default);
}

.config-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.button-delete {
  color: rgb(255, 57, 57);
}
