<h2 class="config-title" mat-dialog-title>Informações da loja</h2>
<mat-dialog-content class="mat-typography" *ngIf="form.length">

    <div *ngFor="let item of form?.controls; let i = index">

        <div [formGroup]="item" class="d-flex justify-content-between">
            <div class="col-xs-3">
                <mat-form-field class="w-100">
                    <mat-label>Nome do agendamento</mat-label>
                    <input matInput formControlName="Name">
                </mat-form-field>
            </div>

            <div class="col-xs-3">
                <mat-form-field class="w-100">
                    <mat-label>Selecione os dias</mat-label>
                    <mat-select formControlName="Day" multiple>
                        <mat-select-trigger>
                            <ng-container *ngIf="item.value.Day.length <= 2">
                                <ng-container *ngFor="let dayNumber of item.value.Day; let last = last">
                                    {{ weekDays[dayNumber - 1]?.label }}<ng-container *ngIf="!last">,
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="item.value.Day.length > 2">
                                <ng-container *ngFor="let dayNumber of item.value.Day; let last = last">
                                    {{ weekDays[dayNumber - 1]?.labelShort }}<ng-container *ngIf="!last">,
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </mat-select-trigger>
                        <mat-option *ngFor="let day of weekDays" [value]="day.value">
                            {{ day.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-xs-2">
                <mat-form-field class="w-100">
                    <mat-label>Selecione o cardápio</mat-label>
                    <mat-select multiple="false">
                        <mat-option *ngFor="let menu of menus" [value]="menu">
                            {{ menu }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-xs-1">
                <mat-form-field class="w-100">
                    <mat-label>Abertura</mat-label>
                    <input matInput formControlName="Opens" [format]="24" [ngxTimepicker]="openHour">
                    <ngx-material-timepicker #openHour [theme]="darkTheme">
                    </ngx-material-timepicker>
                </mat-form-field>
            </div>

            <div class="col-xs-1">
                <mat-form-field class="w-100">
                    <mat-label>Fechamento</mat-label>
                    <input matInput formControlName="Closes" [format]="24" [ngxTimepicker]="closeHour" readonly>
                    <ngx-material-timepicker #closeHour [theme]="darkTheme">
                    </ngx-material-timepicker>
                </mat-form-field>
            </div>

            <div class="col-xs-1">
                <button (click)="deleteHour(i)" mat-icon-button color="warn">
                    <mat-icon svgIcon="delete"></mat-icon>
                </button>

            </div>
        </div>
    </div>
    <div class="py-3">
        <mat-divider></mat-divider>
    </div>

</mat-dialog-content>
<mat-dialog-actions class="justify-content-between">
    <button (click)="close()" mat-stroked-button>Cancelar</button>
    <div class="">
        <button (click)="add()" color="accent" mat-button>Adicionar horário</button>
        <button (click)="save()" color="primary" mat-flat-button cdkFocusInitial>Salvar alterações</button>
    </div>
</mat-dialog-actions>