<app-header></app-header>
<div class="d-flex">
    <div class="sidebar-container">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content-inner">
        <router-outlet></router-outlet>
    </div>
</div>