@import "../../../../assets/styles/variables";

.sidebar-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  color: white;
  .sidebar {
    width: $sidebar-width;
    height: calc(100vh - 64px);
    background: $sidebar-color;
    transition: 0.3s;
    position: relative;
    ul {
      width: 100%;
      list-style: none;
      padding: 0;
      li {
        white-space: nowrap;
        padding: 8px;
        a {
          display: flex;
          align-items: center;
          flex-direction: column;
          text-decoration: none;
        }
        div {
          font-size: 0.75rem;
          color: rgba(255, 255, 255, 0.7);
          text-align: center;
        }
        &:hover {
          background-color: $sidebar-color-darken;
        }
        &:last-child {
          margin-top: auto;
          display: flex;
          justify-content: center;
          cursor: pointer;
          mat-icon {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
}

.sidebar-wrapper.collapsed {
  .sidebar {
    width: calc(#{$sidebar-width} - 30px);
    ul {
      li {
        padding: 16px;
        a {
          font-size: 2rem;
          display: block;
          div {
            transition: 100ms;
            font-weight: bold;
            padding: 20px 0;
            color: transparent;
            display: block;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 0.925rem;
            position: absolute;
            margin-top: -40px;
            width: 150px;
            left: -200px;
            background: $sidebar-color-darken;
            transition: 0.2s;
            line-height: 1rem;
            font-size: 0.95rem;
          }
        }
        &:hover {
          background: $sidebar-color-darken;
          a div {
            margin-right: 0;
            opacity: 1;
            color: #ddd;
            left: calc(#{$sidebar-width} - 30px);
          }
        }
        &:last-child {
          margin-top: auto;
          mat-icon {
            transform: rotate(0deg);
            margin-top: auto;
          }
        }
      }
    }
  }
}

mat-icon {
  transition: 400ms;
  color: #fff;
}
