<aside [class.collapsed]="isClosed" class="sidebar-wrapper">
    <div class="sidebar">
        <ul class="mb-0">
            <li *ngFor="let item of items" class="mb-2 icon">
                <a [routerLink]="item.route">
                    <mat-icon [svgIcon]="item.icon"></mat-icon>
                    <div>{{ item.label }}</div>
                </a>
            </li>
            <li (click)="toggleSidebar()">
                <mat-icon svgIcon="chevron-double-right"></mat-icon>
            </li>
        </ul>
    </div>
</aside>