<section class="p-4" *ngIf="user$ | async as user">
  <mat-card>
    <mat-card-title>
      <h1 class="page-title">Produtos</h1>
    </mat-card-title>
    <mat-card-content>
      <table
        (cdkDropListDropped)="drop($event)"
        mat-table
        [dataSource]="products"
        multiTemplateDataRows
        class="mat-elevation-z8"
      >
        <ng-container
          matColumnDef="{{ column }}"
          *ngFor="let column of columnsToDisplay; let i = index"
        >
          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

          <td mat-cell *matCellDef="let element">
            {{ element[column] }}
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplay.length"
          >
            <div
              class="element-detail"
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <div
                class="item-container w-100"
                *ngFor="let variety of element.Varieties"
              >
                <div class="row" (click)="openVarietyModal(variety)">
                  <div class="col-sm-4 col-md-4">{{ variety.VarietyName }}</div>
                  <div class="col-sm-4 col-md-4">{{ variety.SizeName }}</div>

                  <div class="col-sm-2 col-md-2">
                    {{ variety.VarietyValue | currency }}
                  </div>
                  <div class="col-sm-2 col-md-2">
                    {{ variety.VarietyStatus }}
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplay"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="
            expandedElement = expandedElement === element ? null : element
          "
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
      </table>
    </mat-card-content>
  </mat-card>
</section>
