<section class="p-5" *ngIf="(user$ | async) as user">


    <mat-card>

        <mat-card-title>
            <h1 class="page-title">Informações da Loja</h1>
        </mat-card-title>
        <mat-card-content>
            <div class="d-flex justify-content-between mb-4 align-items-center">
                <h2 class="mb-0">{{ user.CompanyName }}</h2>
            </div>

            <div class="row">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column justify-content-around">
                        <div class="col-xs-12 mb-1">
                            <strong>Pedido mínimo: </strong>
                            <span>{{ user.OrderMinimumValue }}</span>
                        </div>
                        <div class="col-xs-12 mb-1">
                            <strong>Email: </strong>
                            <span>{{ user.Email }}</span>
                        </div>
                        <div class="col-xs-12 mb-1">
                            <strong>Celular: </strong>
                            <span>{{ user.Celular }}</span>
                        </div>
                        <div class="col-xs-12 mb-1">
                            <strong>Telefone: </strong>
                            <span>{{ user.Telefone }}</span>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex flex-end flex-column justify-content-around col-xs-12 info-container">
                            <button class="my-1" mat-flat-button (click)="flatted = !flatted"
                                matTooltip="Alterar tempo de entrega">
                                Tempo de Entrega: {{ user.DeliveryTime }} Min
                            </button>
                            <mat-slide-toggle class="my-1 w-100" [(ngModel)]="userData.Status">Sua loja está
                                <strong class="text-success" *ngIf="userData.Status">aberta</strong>
                                <strong class="text-danger" *ngIf="!userData.Status">fechado</strong>
                            </mat-slide-toggle>

                            <mat-slide-toggle class="my-1 w-100" [(ngModel)]="userData.StatusCron">Agendamento
                                automático 
                                <strong class="text-success" *ngIf="userData.StatusCron">ligado</strong> 
                                <strong class="text-danger" *ngIf="!userData.StatusCron">desligado</strong>
                            </mat-slide-toggle>

                        </div>
                    </div>
                </div>
            </div>
            <div class="py-3">
                <mat-divider></mat-divider>
            </div>


            <mat-card class="flat-card" [class.flatted]="formHour.disabled">
                <mat-card-title>
                    <h2>Horário de Funcionamento</h2>
                </mat-card-title>
                <mat-card-subtitle>
                    <span class="text-muted">
                        <strong>Dica!</strong> Aqui você define o horário padrão da empresa em modelo de turnos, ou
                        intervalos de funcionamento, e pode associar cardápios específicos para esse horário.
                    </span>
                </mat-card-subtitle>

                <mat-card-content class="mb-0">
                    <div *ngFor="let item of formHour?.controls; let i = index">
                        <div [formGroup]="item" class="d-flex justify-content-between">
                            <div class="col-xs-3">
                                <mat-form-field class="w-100">
                                    <mat-label>Nome do agendamento</mat-label>
                                    <input matInput formControlName="Name">
                                </mat-form-field>
                            </div>

                            <div class="col-xs-3">
                                <mat-form-field class="w-100">
                                    <mat-label>Selecione os dias</mat-label>
                                    <mat-select formControlName="Day" multiple>
                                        <mat-select-trigger>
                                            <ng-container *ngIf="item.value.Day.length <= 2">
                                                <ng-container *ngFor="let dayNumber of item.value.Day; let last = last">
                                                    {{ weekDays[dayNumber - 1]?.label }}<ng-container *ngIf="!last">,
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngIf="item.value.Day.length > 2">
                                                <ng-container *ngFor="let dayNumber of item.value.Day; let last = last">
                                                    {{ weekDays[dayNumber - 1]?.labelShort }}<ng-container
                                                        *ngIf="!last">,
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </mat-select-trigger>
                                        <mat-option *ngFor="let day of weekDays" [value]="day.value">
                                            {{ day.label }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-xs-2">
                                <mat-form-field class="w-100">
                                    <mat-label>Selecione o cardápio</mat-label>
                                    <mat-select multiple="false" formControlName="IDMenu">
                                        <mat-option *ngFor="let menu of menus; let i = index" [value]="i">
                                            {{ menu }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-xs-1">
                                <mat-form-field class="w-100">
                                    <mat-label>Abertura</mat-label>
                                    <input matInput formControlName="Open" [format]="24" [ngxTimepicker]="openHour">
                                    <ngx-material-timepicker #openHour minutesGap="5" [theme]="timePickerTheme">
                                    </ngx-material-timepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-xs-1">
                                <mat-form-field class="w-100">
                                    <mat-label>Fechamento</mat-label>
                                    <input matInput formControlName="Close" [format]="24" [ngxTimepicker]="closeHour"
                                        readonly>
                                    <ngx-material-timepicker #closeHour minutesGap="5" [theme]="timePickerTheme">
                                    </ngx-material-timepicker>
                                </mat-form-field>
                            </div>

                            <div style="max-width: 30px;">
                                <button (click)="deleteDefault(i)" [disabled]="formHour.disabled" mat-icon-button
                                    color="warn">
                                    <mat-icon svgIcon="delete"></mat-icon>
                                </button>

                            </div>
                        </div>
                    </div>
                    <div class="text-muted" *ngIf="!formHour?.controls.length">
                        Nenhum horário cadastrado
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex justify-content-between" *ngIf="formHour.enabled">
                        <button mat-button (click)="disableHour()">Cancelar</button>
                        <div>
                            <button mat-button color="accent" (click)="addDefault()">Adicionar horário</button>
                            <button mat-flat-button color="primary" (click)="saveDefault()">Salvar Alterações</button>
                        </div>
                    </div>

                    <div class="d-flex" *ngIf="formHour.disabled">
                        <button mat-button (click)="formHour.enable()">Editar</button>
                    </div>
                </mat-card-actions>
            </mat-card>

            <div class="py-3">
                <mat-divider></mat-divider>
            </div>

            <mat-card class="flat-card flatted">
                <mat-card-title>
                    <h2>Agendar horários especiais</h2>
                </mat-card-title>
                <mat-card-subtitle>
                    <span class="text-muted">
                        <strong>Dica!</strong> Você pode agendar um dia específico para sua loja ter um comportamento
                        diferente, como não abrir, funcionar em um horário diferente, fechar mais cedo, etc.
                    </span>
                </mat-card-subtitle>
                <mat-card-content class="mb-0">
                    <div *ngFor="let item of formSchedule?.controls; let i = index">
                        <div [formGroup]="item" class="d-flex justify-content-between">
                            <div class="col-xs-3">
                                <mat-form-field class="w-100">
                                    <mat-label>Nome do agendamento</mat-label>
                                    <input matInput formControlName="Name">
                                </mat-form-field>
                            </div>
                            <div class="col-xs-3">
                                <mat-form-field class="w-100">
                                    <mat-label>Data do agendamento</mat-label>
                                    <input matInput formControlName="schDate">
                                </mat-form-field>
                            </div>
                            <div class="col-xs-3">
                                <mat-form-field class="w-100">
                                    <mat-label>Menu</mat-label>
                                    <input matInput formControlName="IDMenu">
                                </mat-form-field>
                            </div>
                            <div class="col-xs-1">
                                <mat-form-field class="w-100">
                                    <mat-label>Abertura</mat-label>
                                    <input matInput formControlName="Open">
                                </mat-form-field>
                            </div>

                            <div class="col-xs-1">
                                <mat-form-field class="w-100">
                                    <mat-label>Fechamento</mat-label>
                                    <input matInput formControlName="Close">
                                </mat-form-field>
                            </div>



                            <div style="max-width: 30px;">
                                <button (click)="deleteDefault(item.value.IDSchedule, i)" mat-icon-button color="warn">
                                    <mat-icon svgIcon="delete"></mat-icon>
                                </button>

                            </div>
                        </div>
                    </div>
                    <div class="text-muted" *ngIf="!schedules.length">
                        Nenhum horário cadastrado
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div>
                        <button mat-button color="accent" (click)="openScheduleModal()">Adicionar agendamento</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </mat-card-content>
    </mat-card>
</section>

<!-- <button (click)="close()" mat-stroked-button>Cancelar</button>
<div class="">
    <button (click)="add()" color="accent" mat-button>Adicionar horário</button>
    <button (click)="save()" color="primary" mat-flat-button cdkFocusInitial>Salvar alterações</button>
</div> -->