<section>
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="d-flex justify-content-between flex-column full-height-container">
                <div [formGroup]="form" class="row">
                    <div class="col-xs-6">
                        <mat-form-field class="w-100">
                            <mat-label>Selecione o dia</mat-label>
                            <input matInput formControlName="date" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-6">
                        <mat-form-field class=" ml-2">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status" multiple>
                                <mat-select-trigger>
                                    {{statusVal ? (statusVal[0] | translateStatus) : ''}}
                                    <span *ngIf="statusVal?.length > 1" class="example-additional-selection">
                                        (+{{statusVal.length - 1}} {{statusVal?.length === 2 ? 'outro' : 'outros'}})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let status of availableStatus" [value]="status.type">
                                    {{ status.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12">
                        <mat-form-field class="w-100 ">
                            <mat-label>Nome do cliente ou número do pedido</mat-label>
                            <input formControlName="query" matInput type="search" placeholder="Ex. Alfredo ou 859412">
                            <mat-icon matSuffix svgIcon="magnify"></mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div [class.list-container]="orders.length > 0" class="my-2">
                    <div *ngIf="orders.length == 0" class="text-muted text-center mt-2">
                        Você não possui pedidos para esta filtragem!
                    </div>
                    <mat-action-list class="order-list">
                        <mat-list-item (click)="this.selectedOrderId = order.IDOrder" *ngFor="let order of orders"
                            class="order-list-item" [ngClass]="order.Status"
                            [class.activated]="order.IDOrder === this.selectedOrderId">
                            <div class="order-container">
                                <div class="order-number">
                                    #{{ order.IDOrder }}
                                    <span class="text-warn" *ngIf="order.timeLeft">Expira em {{ order.timeLeft }}</span>
                                </div>
                                <span class="order-customer-name">{{ order.Name }} {{ order.Surname }}</span>
                            </div>
                            <div class="order-status">
                                <div class="order-status-container">
                                    <span class="order-info">
                                        R$ {{order.Total}} - {{ order.DateTime | date: 'HH:mm' }}
                                    </span>
                                    <span class="status">{{ order.Status | translateStatus}}</span>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-action-list>
                </div>
                <div>
                    <mat-divider></mat-divider>
                    <div class="payment-info mt-3 d-flex">
                        <div class="col-sm-6 text-center">
                            <p class="text-muted">Pagamento online</p>
                            <span>{{paymentInfo.online | currency}}</span>
                        </div>
                        <div class="col-sm-6 text-center">
                            <p class="text-muted">Pagamento offline</p>
                            <span class="">{{paymentInfo.offline | currency}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-8">
            <app-order-details *ngIf="selectedOrderId" [orderId]="selectedOrderId"
                (refreshOrderList)="getOrders()"></app-order-details>
            <app-notifications *ngIf="!selectedOrderId"></app-notifications>
        </div>
    </div>
</section>