@import "../../../../assets/styles/variables";

.order-list-item {
  position: relative;
  height: 4.5rem !important;

  &.Canceled {
    opacity: 0.7;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 2px);
    height: 2px;
    border-bottom-left-radius: 2px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 6px;
    border-bottom-left-radius: 5px;
  }
  .order-number {
    letter-spacing: 2px;
    margin-right: 0.5rem;
    opacity: 0.5;
    font-weight: bold;
    font-size: 0.75rem;
  }
  .order-customer-name {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0.25rem 0;
  }
  .order-status {
    flex-grow: 1;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    .order-status-container {
      width: 6.3rem;
      text-align: center;
    }
    .status {
      border-radius: 1rem;
      padding: 0.1rem 0.375rem;
      width: 5rem;
      text-align: center;
      display: inline-block;
      font-size: 0.75rem;
      font-weight: bold;
      color: white;
      // letter-spacing: 1px;
    }
  }
  .order-info {
    font-size: 0.625rem;
    font-weight: bold;
    padding: 0 0.25rem;
    opacity: 0.5;
    display: block;
    margin-bottom: 0.125rem;
  }
  &.activated {
    background: rgba(255, 255, 255, 0.25);
    pointer-events: none;
  }
}

@each $status, $color in $status-colors {
  .order-list-item.#{$status} {
    &::before,
    &::after,
    .order-status .status {
      background: $color;
    }

    &:hover {
      &::before,
      &::after,
      .order-status .status {
        background: lighten($color, 10%);
      }
    }
  }
}
.list-container {
  overflow: auto;
  flex-grow: 1;
  // margin-right: 1rem;
  margin-top: 0.5rem;

  .order-container {
    max-width: 180px;
  }
}
.status-filter-container {
  display: flex;
  flex-wrap: wrap;
  .status {
    flex-grow: 1;
    cursor: pointer;
    margin-bottom: 0.5rem;
    text-align: center;
    border-radius: 1rem;
    padding: 0.125rem 0.375rem;
    opacity: 0.75;
    border: 1px solid white;
    font-size: 0.6rem;
    letter-spacing: 1px;
    font-weight: bold;
    &:not(:last-child) {
      margin-right: 0.375rem;
    }
    &:hover {
      border-color: #ccc;
      color: #ccc;
      opacity: 1;
    }

    @each $status, $color in $status-colors {
      &.#{$status}.active {
        background-color: $color;
        border-color: $color;
        opacity: 1;
      }
    }
  }
}

.payment-info {
  // border-top: 1px solid;
  div {
    padding: 4px;
    span {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}
/* width */
.list-container::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.list-container::-webkit-scrollbar-track {
  width: 3px;
  background: rgba(0, 0, 0, 0.1);
}

/* Handle */
.list-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.5;
  border-radius: 12px;
}

/* Handle on hover */
.list-container::-webkit-scrollbar-thumb:hover {
  background: darken(map-get($primary, "default"), 10%);
  opacity: 0.7;
}

.filters-container * {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}