<div class="login-container">
  <form (submit)="submit()" [formGroup]="form">
    <mat-card color="white" class="shadow-lg">

      <mat-card-title-group class="d-flex justify-content-center">

        <mat-card-title>
          <h1 class="text-center p-3">
            <img class="w-100" alt="Litoral na mesa" src="./assets/litoral-text-logo.png">
          </h1>
          <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-subtitle class="text-center pt-4">
          <h4>Bem vindo(a) de volta ao <strong>Gestor de Pedidos</strong>!</h4>
        </mat-card-subtitle>

      </mat-card-title-group>
      <mat-card-content>
        <p>
          <mat-form-field class="w-100">
            <input type="email" matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="w-100">
            <input type="password" matInput placeholder="Senha" formControlName="password" appPasswordInput>
          </mat-form-field>
          <a (click)="forgetPassword()" class="forgot-password">Esqueci minha senha</a>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" class="w-100" [disabled]="form.invalid">
          <strong>Entrar</strong>
        </button>
      </mat-card-actions>
    </mat-card>

  </form>
</div>