.login-container {
  display: flex;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
  form {
    display: block;
    width: 400px;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../../../../assets/images/background.jpg");
    background-size: cover;
    filter: blur(4px);
  }
}

.forgot-password {
  display: block;
  text-align: right;
  font-size: 0.75rem;
  opacity: 0.75;
  color: white;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.logo {
  margin: auto;
  display: block;
}
