<h2 class="new-order-title" mat-dialog-title>
    Novo pedido!
    <strong class="text-primary">#{{ order?.IDOrder }}</strong>
</h2>
<h3 class="text-center text-warn font-weight-bold text-uppercase">
    <strong>ATENÇÃO!</strong> 
    <ng-container *ngIf="!expiredAt; else expiredMessage">
        O pedido irá expirar em <strong class="text-error">{{ timeLeft }}</strong>!
    </ng-container>
    <ng-template #expiredMessage>
        O pedido expirou às {{ expiredAt | date: 'HH:mm:ss' }}!
    </ng-template>
</h3>
<mat-dialog-content *ngIf="order" class="mat-typography">
    <div class="order-details" [ngClass]="order.Status">

        <div class="row">
            <div class="col-sm-4">
                <h4 class="card-title">Dados Pessoais</h4>
                <div class="mb-1">
                    <strong>Nome: </strong> {{ order.Name }} {{ order.Surname }}
                </div>
                <div>
                    <strong>Pedido realizado às</strong> {{ order.DateTime | date: 'HH:mm' }}
                </div>

                <h4 class="card-title mt-3">Pagamento</h4>

                <div class="mt-3">
                    <div class="mb-1">
                        <strong>Tipo: </strong>
                        <span>{{ order.PaymentType == 'offline' ? 'Na entrega' : 'Online'}}</span>
                    </div>
                    <div class="mb-1">
                        <strong>Forma de pagamento: </strong>
                        <span>{{ order.Payment }}</span>
                    </div>
                    <div class="mb-1">
                        <strong>Taxa de entrega: </strong>
                        <span>R$ {{ order.ValueDelivery }}</span>
                    </div>

                    <ng-container *ngIf="order.Payment === 'Dinheiro'">
                        <div class="mb-1">
                            <strong>Valor a ser pago: </strong>
                            <span>R$ {{ order.ChangeForMoney }}</span>
                        </div>
                        <div class="mb-1">
                            <strong>Troco: </strong>
                            <span>R$ {{ order.ChangeFor }}</span>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-sm-8">
                <h4 class="card-title">Itens do pedido ({{ order.Products.length }})</h4>
                <ul class="pt-2">
                    <li *ngFor="let product of order.Products" class="product">
                        <div class="row">
                            <div class="col-xs-5">
                                <strong>
                                    {{ product.Quantity }}x
                                    {{ product.Product }}
                                </strong>
                            </div>
                            <div class="col-xs-4">
                                <strong>Tamanho: </strong>
                                {{ product.Sizes }}
                            </div>
                            <div class="col-xs-3">
                                <strong>{{ product.Values | currency}}</strong>
                            </div>
                            <div class="product-obs" [hidden]="!product.Notes">
                                <strong>Observação: </strong>
                                {{ product.Notes }}
                            </div>
                        </div>
                        <div *ngFor="let variety of product.Varieties" class="product-info">
                            <span [matTooltip]="variety.VarietyDescription">
                                {{variety.VarietyName}} <span *ngIf="variety.VarietyPrice">-
                                    R${{variety.VarietyPrice}}</span>
                            </span>
                        </div>
                        <div class="product-options" [hidden]="!product.Options?.length">
                            <ul class="">
                                <li *ngFor="let opt of product.Options">
                                    {{ opt.Quantidade }}x {{ opt.Title }} <strong>R${{ opt.Value }}</strong>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="mt-2 d-flex justify-content-center" *ngIf="order.CustomerMessage">
                    <div class="alert">
                        {{order.CustomerMessage}}
                    </div>
                </div>
                <div class="py-2">
                    <mat-divider></mat-divider>
                </div>
                <h2 class="text-right">
                    Total: <strong><span class=" text-primary">R$ {{ order.TotalProducts }}</span></strong>
                </h2>
            </div>
        </div>
    </div>


</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="close()" mat-button>Fechar</button>
    <div>
        <button (click)="decline()" [disabled]="expiredAt" color="warn" mat-button>Recusar pedido</button>
        <button (click)="accept()" [disabled]="expiredAt" color="accent" mat-button cdkFocusInitial>Aceitar pedido</button>
    </div>
</mat-dialog-actions>