@import "../../../../assets/styles/variables";

.new-order-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.order-details {
  padding: 6px;
  position: relative;
  .product {
    margin-bottom: 1rem;
    .product-info {
      padding-left: 1rem;
    }
    .product-obs {
      font-size: 0.9rem;
      margin-left: 1rem;
      color: map-get($warn, default);
    }
    .product-options {
      font-size: 0.825rem;
      padding-left: 1.2rem;
      opacity: 0.5;
    }
  }
}

.alert {
  border: 1px solid #9b7503;
  padding: 20px;
  border-radius: 0.25rem;
  margin-bottom: 15px;
  font-weight: 500;
  text-align: center;
  color: #9b7503;
  background-color: #fadf88;
  width: 95%;
}

.important {
  box-shadow: 0px 0px 21px 0px rgba(250, 238, 0, 0.4);
}
.card-title {
  // text-align: center !important;
  opacity: .5;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}

mat-dialog-actions {
  justify-content: space-between;
}
