<h2 class="new-order-title" mat-dialog-title>
    Cadastro de Agendamento
</h2>
<mat-dialog-content class="mat-typography" [formGroup]="form">

    <div class="d-flex justify-content-between">
        <div class="col-xs-3">
            <mat-form-field class="w-100">
                <mat-label>Selecione o dia</mat-label>
                <input matInput formControlName="schDate" [matDatepicker]="picker" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-xs-4">
            <mat-form-field class="w-100">
                <mat-label>Nome do agendamento</mat-label>
                <input matInput formControlName="Name">
            </mat-form-field>
        </div>

        <div class="col-xs-2">
            <mat-form-field class="w-100">
                <mat-label>Abertura</mat-label>
                <input matInput formControlName="Open" [format]="24" [ngxTimepicker]="openHour">
                <ngx-material-timepicker #openHour minutesGap="5" [theme]="timePickerTheme">
                </ngx-material-timepicker>
            </mat-form-field>
        </div>

        <div class="col-xs-2">
            <mat-form-field class="w-100">
                <mat-label>Fechamento</mat-label>
                <input matInput formControlName="Close" [format]="24" [ngxTimepicker]="closeHour" readonly>
                <ngx-material-timepicker #closeHour minutesGap="5" [theme]="timePickerTheme">
                </ngx-material-timepicker>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-between">
    <button (click)="close()" mat-button>Fechar</button>
    <button (click)="save()" mat-flat-button color="accent">Salvar</button>
</mat-dialog-actions>