<h2 class="new-order-title" mat-dialog-title>
    Pedido cancelado!
    <strong class="text-primary">#{{ order?.IDOrder }}</strong>
</h2>
<mat-dialog-content *ngIf="order" class="mat-typography text-center">
    <h5>Sentimos dizer, mas o pedido foi cancelado.</h5>
    <div>
        <img src="../../../../assets/images/sad-face.png" alt="Sad">
    </div>
    <strong>Motivo do cancelamento: {{ order.CanceledMessage }}</strong>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="close()" class="btn-close" mat-button>Fechar</button>
</mat-dialog-actions>