<h2 class="new-order-title" mat-dialog-title>
  {{ variety.ProductName }}
</h2>
<mat-dialog-content *ngIf="variety" class="mat-typography">
  <mat-card class="flat-card flatted">
    <mat-card-title>
      <h2>Alterar {{ variety.VarietyName }}</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <span class="text-muted">
        <strong>Dica!</strong>Lorem ipsum dolor sit amet, consectetur
        adipisicing elit.
      </span>
    </mat-card-subtitle>

    <mat-card-content class="mb-0">
      <div [formGroup]="form" class="row">
        <div class="col-sm-6 col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Nome da variedade</mat-label>
            <input matInput formControlName="VarietyName" />
          </mat-form-field>
        </div>
        <div class="col-sm-3 col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Preço</mat-label>
            <input matInput formControlName="VarietyValue" />
          </mat-form-field>
        </div>

        <div class="col-sm-3 col-md-3">
          <mat-slide-toggle class="my-1 w-100" formControlName="VarietyStatus">
            Disponível
          </mat-slide-toggle>
        </div>
        <div class="col-sm-12 col-md-12">
          <mat-form-field class="w-100">
            <mat-label>Descrição</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              formControlName="VarietyDescription"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
            ></textarea>
          </mat-form-field>
        </div>

        <hr />
        <ng-container *ngIf="groupOptionsFormArray.controls">
          <div
            *ngFor="
              let groupOption of groupOptionsFormArray.controls;
              let index = index
            "
          >
            <div [formGroup]="groupOption">
              <div class="col-sm-12 col-md-12">
                <mat-form-field class="w-100">
                  <mat-label>Texto do grupo</mat-label>
                  <input matInput formControlName="GroupName" />
                </mat-form-field>
              </div>

              <ul>
                <li
                  *ngFor="
                    let option of (groupOption | toAny).controls.Options
                      .controls
                  "
                >
                  <div [formGroup]="option" class="col-sm-12 col-md-12">
                    <div class="row">
                      <mat-form-field class="col-sm-4">
                        <mat-label>Texto da opção</mat-label>
                        <input matInput formControlName="OptionName" />
                      </mat-form-field>

                      <mat-form-field class="col-sm-2">
                        <mat-label>Preço</mat-label>
                        <input matInput formControlName="OptionValue" />
                      </mat-form-field>

                      <mat-form-field class="col-sm-1">
                        <mat-label>Máximo</mat-label>
                        <input matInput formControlName="Max" />
                      </mat-form-field>

                      <mat-form-field class="col-sm-1">
                        <mat-label>Mínimo</mat-label>
                        <input matInput formControlName="Min" />
                      </mat-form-field>
                      <div class="d-flex justify-content-between col-sm-4">
                        <mat-slide-toggle
                          class="my-1 w-100"
                          formControlName="Required"
                        >
                          Obrigatório
                        </mat-slide-toggle>

                        <mat-slide-toggle
                          class="my-1 w-100"
                          formControlName="VarietyOptionsStatus"
                        >
                          Disponível
                        </mat-slide-toggle>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <hr />
          </div>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="close()" mat-button>Fechar</button>

  <button (click)="save()" color="accent" mat-button cdkFocusInitial>
    Salvar alterações
  </button>
</mat-dialog-actions>
