@import "../../../../../assets/styles/variables";

* {
  line-height: 1.375rem;
}

.order-action-btn {
  height: 45px;
  width: 100%;

  &.btn-decline {
    background-color: map-get($status-colors, Open);
  }
  &.btn-accept {
    background-color: map-get($status-colors, Delivered);
  }
  &.btn-dispatched {
    background-color: map-get($status-colors, Dispatched);
  }
  &:not(:last-child) {
    margin-right: 5px;
  }
  &:not(:first-child) {
    margin-left: 5px;
  }
}

h4.card-title {
  letter-spacing: 2px;
  font-size: 1.1rem;
  opacity: 0.5;
  font-weight: bold;
  margin-bottom: 0;
}
.product {
  .product-info {
    padding-left: 1rem;
  }
  .product-obs {
    font-size: 0.9rem;
    margin-left: 1rem;
    color: map-get($warn, default);
  }
  .product-options {
    font-size: 0.825rem;
    padding-left: 1.2rem;
    opacity: 0.5;
  }
}

.empty-orders {
  height: calc(100vh - 64px);
  padding: 1rem;
}

.order-status {
  margin: 1rem 0;
  padding: 1rem;
  font-weight: bold;
  border-radius: 5px;
  @each $status, $color in $status-colors {
    &.#{$status} {
      background: $color;
      color: white;
    }
  }
}

.order-details {
  position: relative;
  border-top: 4px solid white;
  &::before {
    content: "";
    width: 6px;
    height: 4.5rem;
    position: absolute;
    top: 0;
    left: 0;
    // border-bottom-right-radius: 5px;
    background-color: red;
  }
  @each $status, $color in $status-colors {
    &.#{$status} {
      border-color: $color;
      &::before {
        background: $color !important;
      }
      .delivery-forecast {
        background: $color !important;
      }
    }
  }
}

.alert {
  border: 1px solid #9b7503;
  padding: 20px;
  border-radius: 0.25rem;
  margin-bottom: 15px;
  font-weight: 500;
  text-align: center;
  color: #9b7503;
  background-color: #fadf88;
  width: 95%;
}

.important {
  box-shadow: 0px 0px 21px 0px rgba(250, 238, 0, 0.4);
}
