<div *ngIf="order; else fallback" class="full-height-container">
    <mat-card class="order-details" [ngClass]="order.Status">
        <div class="d-flex justify-content-between align-items-center">
            <span>Número do Pedido: <strong class="text-primary">#{{ order.IDOrder }}</strong></span>
            <span>Pedido realizado em {{ order.DateTime | date: 'dd/MM/yyyy \'ás\' HH:mm' }}</span>

            <mat-card class="delivery-forecast text-white">
                <ng-container *ngIf="order.Status === 'Canceled'; else forecast">
                    <strong>Pedido Cancelado</strong>
                </ng-container>
                <ng-template #forecast>
                    <span>Previsão de entrega <strong>{{ order.DeliveryTime }}</strong></span>
                </ng-template>
            </mat-card>
        </div>

        <div *ngIf="order.Status === 'Canceled'">
            <strong>Motivo do Cancelamento: </strong>
            {{ order.CanceledMessage }}
        </div>

        <div class="py-3">
            <mat-divider></mat-divider>
        </div>

        <div *ngIf="!order.Accepted">
            <h4 class="card-title">Dados de contato</h4>
            <span class="text-muted">Pedidos realizados por este usuário:
                {{order.orderQuantity}}</span>
            <div class="pt-2 d-flex justify-content-between flex-wrap">
                <span>
                    <strong>Nome: </strong> {{ order.Name }} {{ order.Surname }}
                </span>
                <span>
                    <strong>Celular: </strong>
                    <span [hidden]="order.Celular" class="text-muted">Não informado</span>
                    <span [hidden]="!order.Celular">{{ order.DDDCelular }} {{ order.Celular }}</span>
                </span>

                <span>
                    <strong>Telefone: </strong>
                    <span [hidden]="order.Telefone" class="text-muted">Não informado</span>
                    <span [hidden]="!order.Telefone">{{ order.DDD }} {{ order.Telefone }}</span>
                </span>
            </div>
            <div class="mt-2 d-flex justify-content-center" *ngIf="order.Status === 'Open'">
                <button (click)="decline()" class="order-action-btn btn-decline" mat-raised-button>Recusar pedido</button>
                <button (click)="accept()" class="order-action-btn btn-accept" mat-raised-button cdkFocusInitial>Aceitar pedido</button>
            </div>
            <div class="mt-2 d-flex justify-content-center" *ngIf="order.Status === 'Accepted'">
                <button (click)="dispatch()" class="order-action-btn btn-dispatched" mat-raised-button cdkFocusInitial>
                    Despachar pedido
                </button>
            </div>
        </div>

        <div class="mt-4" *ngIf="!order.Accepted && order.CustomerAddress.Address">
            <h4 class="card-title">Endereço</h4>
            <div class="pt-2">
                <div class="mb-1">
                    {{ order.CustomerAddress.Address }}, {{ order.CustomerAddress.Number }}
                    <span [hidden]="!order.CustomerAddress.Address3">
                        - {{ order.CustomerAddress.Address3 }}
                        -
                        {{ order.CustomerAddress.Address2 }},
                        {{ order.CustomerAddress.City }},
                        {{ order.CustomerAddress.State }}
                    </span>
                </div>
                <span class="text-muted">
                    {{ order.CustomerAddress.Reference }}
                </span>
            </div>
        </div>

        <div class="py-3">
            <mat-divider></mat-divider>
        </div>
        <h4 class="card-title">Itens do pedido ({{ order.Products.length }})</h4>
        <ul class="pt-2">
            <li *ngFor="let product of order.Products" class="product">
                <div class="row">
                    <div class="col-xs-5">
                        <strong>
                            {{ product.Quantity }}x
                            {{ product.Product }}
                        </strong>
                    </div>
                    <div class="col-xs-4">
                        <strong>Tamanho: </strong>
                        {{ product.Sizes }}
                    </div>
                    <div class="col-xs-3">
                        <strong>{{ product.Values | currency}}</strong>
                    </div>
                    <div class="product-obs" [hidden]="!product.Notes">
                        <strong>Observação: </strong>
                        {{ product.Notes }}
                    </div>
                </div>
                <div *ngFor="let variety of product.Varieties" class="product-info">
                    <span [matTooltip]="variety.VarietyDescription">
                        {{variety.VarietyName}} <span *ngIf="variety.VarietyPrice">- R${{variety.VarietyPrice}}</span>
                    </span>
                </div>
                <div class="product-options" [hidden]="!product.Options?.length">
                    <ul class="">
                        <li *ngFor="let opt of product.Options">
                            {{ opt.Quantidade }}x {{ opt.Title }} <strong>R${{ opt.Value }}</strong>
                        </li>
                    </ul>
                </div>

            </li>
        </ul>
        <div class="mt-2 d-flex justify-content-center" *ngIf="order.CustomerMessage">
            <div class="alert">
                {{order.CustomerMessage}}
            </div>
        </div>
        <div class="py-2">
            <mat-divider></mat-divider>
        </div>
        <div class="row">
            <div class="col-xs-9">

            </div>
            <div class="col-xs-3">
                <h2>Total: <strong><span class=" text-primary">{{ order.TotalProducts | currency }}</span></strong></h2>
            </div>
        </div>

        <div class="py-3">
            <mat-divider></mat-divider>
        </div>

        <div>
            <h4 class="card-title">Pagamento</h4>
            <div class="d-flex flex-wrap justify-content-between mt-3">
                <div>
                    <strong>Tipo: </strong>
                    <span>{{ order.PaymentType == 'offline' ? 'Na entrega' : 'Online'}}</span>
                </div>
                <div *ngIf="order.Payment">
                    <strong>Forma de pagamento: </strong>
                    <span>{{ order.Payment }}</span>
                </div>
                <div>
                    <strong>Taxa de entrega: </strong>
                    <span>R$ {{ order.ValueDelivery }}</span>
                </div>

                <ng-container *ngIf="order.Payment === 'Dinheiro'">
                    <div>
                        <strong>Valor a ser pago: </strong>
                        <span>R$ {{ order.ChangeForMoney }}</span>
                    </div>
                    <div>
                        <strong>Troco: </strong>
                        <span>R$ {{ order.ChangeFor }}</span>
                    </div>
                </ng-container>
            </div>

        </div>

        <div class="order-status " [ngClass]="order.Status">
            Status: {{ order.Status | translateStatus }}
        </div>
    </mat-card>


</div>
<ng-template #fallback>
    <div class="empty-orders">Nenhum pedido selecionado</div>
</ng-template>