@import "./assets/styles/variables";
@import "~@sweetalert2/theme-material-ui/material-ui.scss";
html,
body {
  height: 100%;
  min-width: 768px;
}
body {
  margin: 0;
  .content-inner {
    box-sizing: border-box;
    height: calc(100vh - 64px);
    width: 100%;
    overflow: auto;
    section {
      height: 100%;
    }
  }
}

* {
  font-family: "Calibri", sans-serif !important;
}

.d-flex {
  display: flex;
}

.white {
  color: #ddd;
}

.spacer {
  flex: 1 1 auto;
}

.mat-grid-tile .mat-figure {
  flex-direction: column;
}

button {
  text-transform: uppercase;
  font-size: 0.75rem !important;
  font-weight: 600 !important;
}

small {
  font-size: 0.75rem;
}

$colors: (
  primary: $primary,
  accent: $accent,
  warn: $warn,
  confirm: $confirm,
  error: $error,
);

@each $colorName, $color in $colors {
  .text-#{$colorName} {
    color: map-get($color, "default") !important;
  }
  .bg-#{$colorName} {
    background-color: map-get($color, "default") !important;
    color: map-get($color, "default-contrast") !important;
  }
}

.clickable {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  li {
    padding: 0;
  }
}

.full-height-container {
  height: calc(100vh - 64px);
  padding: 1rem;
  box-sizing: border-box;
  overflow: auto;
}

.accept-order-dialog {
  border-top: 15px solid map-get($status-colors, Delivered);
}

.timepicker-overlay {
  z-index: 1000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 1000 !important;
}

h1.page-title {
  text-align: center;
  font-size: 2rem !important;
  opacity: 0.5;
  margin-bottom: 2.5rem !important;
  margin-top: 1.5rem !important;
  letter-spacing: 1px !important;
}

.flat-card {
  transition: 0.5s !important;
  transform: scale(1.025);
  margin-left: -16px;
  margin-right: -16px;

  &.flatted {
    transform: scale(1);
    box-shadow: none !important;
    background-color: transparent !important;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 1.8em !important;
}