// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
$mat-theme-ignore-duplication-warnings: true;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$primary: mat-palette($mat-orange, 800);
$accent: mat-palette($mat-cyan, 800);

$error: mat-palette($mat-red, 400);
$warn: mat-palette($mat-yellow, 200);
$warn-strong: mat-palette($mat-yellow, 800);
$confirm: mat-palette($mat-green, 500);

$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

$light-theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn-strong,
    ),
  )
);
$button-theme: mat-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $confirm,
      warn: $error,
    ),
  )
);

.dark-theme,
.light-theme,
.toolbar {
  transition: 0.2s;
}

.light-theme {
  @include angular-material-theme($light-theme);
  background: #eeece9;
  color: #2e2c29;
  .toolbar {
    background-color: map-get($mat-grey, 900) !important;
    color: white;
  }

  .text-warn {
    color: #c9bb3b !important;
  }

  input:disabled {
    color: #2e2c29 !important;
  }

  select:disabled {
    color: #2e2c29 !important;
  }

  .mat-select-disabled .mat-select-value,
  .mat-select-value-text,
  mat-select-trigger {
    color: #2e2c29 !important;
  }
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  background: #2e2c29;
  color: #ddd;
  .toolbar {
    background-color: map-get($primary, default) !important;
  }
  .text-muted {
    color: #b4b4b4 !important;
  }

  .text-warn {
    color: #fff59d !important;
  }

  input:disabled {
    color: #ddd !important;
  }

  select:disabled {
    color: #ddd !important;
  }

  .mat-select-disabled .mat-select-value,
  .mat-select-value-text,
  mat-select-trigger {
    color: #ddd !important;
  }
}

@include mat-button-theme($button-theme);

$sidebar-width: 90px;
$sidebar-color: darken(#2e2c29, 2.5%);
$sidebar-color-darken: darken($sidebar-color, 2.5%);

$status-colors: (
  Open: map-get($mat-red, 400),
  Accepted: map-get($mat-orange, 700),
  Dispatched: map-get($mat-indigo, 400),
  Delivered: map-get($mat-green, 600),
  Canceled: map-get($mat-grey, 700),
);
