.no-notifications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    img {
        max-width: 350px;
        opacity: .1;
    }
    p {
        font-weight: 600;
        letter-spacing: 2px;
    }
}
