<mat-toolbar class="toolbar" *ngIf="(user$ | async) as user">
    <span>{{ user.Name }}</span>
    <a mat-button class="ml-2" routerLink="/company-status">Loja Aberta</a>

    <span class="spacer"></span>    

    <button mat-icon-button mat-button matTooltip="Mudar Tema" (click)="authService.toggleTheme()">
        <mat-icon svgIcon="brightness-6"></mat-icon>
    </button>

    <ng-container *ngIf="(notificationService.$notifications | async) as notifications">
        <button mat-icon-button [matMenuTriggerFor]="menuNotification"
            matTooltip="Notificações">
            <mat-icon svgIcon="bell" matBadgeColor="accent"
                [matBadge]="notificationService.unreadNotifications > 0 ? notificationService.unreadNotifications : null">
            </mat-icon>
        </button>
        <mat-menu #menuNotification="matMenu">
            <div mat-menu-item *ngFor="let notification of notifications"
                (click)="notification.seeDetails()" [class.text-muted]="notification.isRead" class="d-flex" class="justify-content-between">
                {{ notification.message }}
                <small class="text-muted">{{ notification.createdAt | date: 'HH:mm' }}</small>
            </div>
            <div mat-menu-item disabled *ngIf="!notifications.length">
                Nenhuma notificação
            </div>
        </mat-menu>
    </ng-container>
    <button mat-icon-button mat-button [matMenuTriggerFor]="menuAccount"
        aria-label="Example icon-button with share icon" matTooltip="Minha Conta">
        <mat-icon svgIcon="account-circle"></mat-icon>
    </button>
    <mat-menu #menuAccount="matMenu">
        <button mat-menu-item routerLink="/company-status">Gerenciar Loja</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
</mat-toolbar>