nav.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  padding: 0 0.5rem;
  z-index: 20;
  mat-slide-toogle{
    width: 220px !important;
  }
  .logo {
    display: block;
    position: relative;
    padding: 10px 10px 0;
    cursor: pointer;
    img {
      height: 100%;
    }
  }
}
